DATABASE_URL="postgresql://neondb_owner:npg_9Hhx7nUgGPyk@ep-ancient-grass-azc2obdw-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="kj8sH2nF9pQwErTyUiOpAsDfGhJkLzXcVbNm4qWeRtY"
NODE_ENV="development"
